USE [DB_QLSV]
GO
/****** Object:  Trigger [trg_InsertStudentAccount]    Script Date: 12/04/2025 12:26:52 CH ******/
DROP TRIGGER [dbo].[trg_InsertStudentAccount]
GO
/****** Object:  Trigger [trg_DeleteStudentAccount]    Script Date: 12/04/2025 12:26:52 CH ******/
DROP TRIGGER [dbo].[trg_DeleteStudentAccount]
GO
/****** Object:  Trigger [trg_InsertLecturerAccount]    Script Date: 12/04/2025 12:26:52 CH ******/
DROP TRIGGER [dbo].[trg_InsertLecturerAccount]
GO
/****** Object:  Trigger [trg_DeleteLecturerAccount]    Script Date: 12/04/2025 12:26:52 CH ******/
DROP TRIGGER [dbo].[trg_DeleteLecturerAccount]
GO
/****** Object:  Trigger [trg_XoaMonDangKy]    Script Date: 12/04/2025 12:26:52 CH ******/
DROP TRIGGER [dbo].[trg_XoaMonDangKy]
GO
/****** Object:  Trigger [trg_AutoInsertDiem]    Script Date: 12/04/2025 12:26:52 CH ******/
DROP TRIGGER [dbo].[trg_AutoInsertDiem]
GO
/****** Object:  StoredProcedure [dbo].[AddDefaultGradesForAllSubjects]    Script Date: 12/04/2025 12:26:52 CH ******/
DROP PROCEDURE [dbo].[AddDefaultGradesForAllSubjects]
GO
/****** Object:  StoredProcedure [dbo].[AddDefaultGrades]    Script Date: 12/04/2025 12:26:52 CH ******/
DROP PROCEDURE [dbo].[AddDefaultGrades]
GO
ALTER TABLE [dbo].[ThoiKhoaBieu] DROP CONSTRAINT [CK_ThoiKhoaBieu_GioHoc]
GO
ALTER TABLE [dbo].[TaiKhoan] DROP CONSTRAINT [CK_TaiKhoan_Trang_Thai]
GO
ALTER TABLE [dbo].[TaiKhoan] DROP CONSTRAINT [CK_TaiKhoan_Loai_Tai_Khoan]
GO
ALTER TABLE [dbo].[SinhVien] DROP CONSTRAINT [CK_SinhVien_Gioi_Tinh]
GO
ALTER TABLE [dbo].[SinhVien] DROP CONSTRAINT [CK_SinhVien_Diem_Ren_Luyen]
GO
ALTER TABLE [dbo].[MonHoc] DROP CONSTRAINT [CK_MonHoc_So_Tin_Chi]
GO
ALTER TABLE [dbo].[LopMo] DROP CONSTRAINT [CK_LopMo_SoLuong]
GO
ALTER TABLE [dbo].[LichThi] DROP CONSTRAINT [CK_LichThi_Gio]
GO
ALTER TABLE [dbo].[HocKy] DROP CONSTRAINT [CK_HocKy_Ngay]
GO
ALTER TABLE [dbo].[GiangVien] DROP CONSTRAINT [CK_GiaoVien_Gioi_Tinh]
GO
ALTER TABLE [dbo].[Diem] DROP CONSTRAINT [CK_Diem_Thi]
GO
ALTER TABLE [dbo].[Diem] DROP CONSTRAINT [CK_Diem_Tong_Ket]
GO
ALTER TABLE [dbo].[Diem] DROP CONSTRAINT [CK_Diem_Qua_Trinh]
GO
ALTER TABLE [dbo].[Diem] DROP CONSTRAINT [CK_Diem_Lan_Thi]
GO
ALTER TABLE [dbo].[ThoiKhoaBieu] DROP CONSTRAINT [FK_ThoiKhoaBieu_LopMonHoc]
GO
ALTER TABLE [dbo].[SinhVien] DROP CONSTRAINT [FK_SinhVien_Lop]
GO
ALTER TABLE [dbo].[LopMonHoc] DROP CONSTRAINT [FK_LopMonHoc_MonHoc]
GO
ALTER TABLE [dbo].[LopMonHoc] DROP CONSTRAINT [FK_LopMonHoc_Khoa]
GO
ALTER TABLE [dbo].[LopMonHoc] DROP CONSTRAINT [FK_LopMonHoc_HocKy]
GO
ALTER TABLE [dbo].[LopMonHoc] DROP CONSTRAINT [FK_LopMonHoc_GiaoVien]
GO
ALTER TABLE [dbo].[LopMo] DROP CONSTRAINT [FK__LopMo__Ma_Lop_Mo__04E4BC85]
GO
ALTER TABLE [dbo].[LopMo] DROP CONSTRAINT [FK__LopMo__Ma_Hoc_Ky__05D8E0BE]
GO
ALTER TABLE [dbo].[Lop] DROP CONSTRAINT [FK_Lop_Khoa]
GO
ALTER TABLE [dbo].[Lop] DROP CONSTRAINT [FK_Lop_GiaoVien]
GO
ALTER TABLE [dbo].[LichThi] DROP CONSTRAINT [FK__LichThi__Ma_Lop___7B5B524B]
GO
ALTER TABLE [dbo].[LichThi] DROP CONSTRAINT [FK__LichThi__Ma_Hoc___7C4F7684]
GO
ALTER TABLE [dbo].[GiangVien] DROP CONSTRAINT [FK_GiaoVien_Khoa]
GO
ALTER TABLE [dbo].[Diem] DROP CONSTRAINT [FK_Diem_SinhVien]
GO
ALTER TABLE [dbo].[Diem] DROP CONSTRAINT [FK_Diem_MonHoc]
GO
ALTER TABLE [dbo].[Diem] DROP CONSTRAINT [FK_Diem_HocKy]
GO
ALTER TABLE [dbo].[DangKy] DROP CONSTRAINT [FK_DangKy_SinhVien]
GO
ALTER TABLE [dbo].[DangKy] DROP CONSTRAINT [FK_DangKy_LopMonHoc]
GO
/****** Object:  Index [UQ_DangKy]    Script Date: 12/04/2025 12:26:52 CH ******/
ALTER TABLE [dbo].[DangKy] DROP CONSTRAINT [UQ_DangKy]
GO
/****** Object:  Table [dbo].[ThoiKhoaBieu]    Script Date: 12/04/2025 12:26:52 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ThoiKhoaBieu]') AND type in (N'U'))
DROP TABLE [dbo].[ThoiKhoaBieu]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/04/2025 12:26:52 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TaiKhoan]') AND type in (N'U'))
DROP TABLE [dbo].[TaiKhoan]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 12/04/2025 12:26:52 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SinhVien]') AND type in (N'U'))
DROP TABLE [dbo].[SinhVien]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 12/04/2025 12:26:52 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonHoc]') AND type in (N'U'))
DROP TABLE [dbo].[MonHoc]
GO
/****** Object:  Table [dbo].[LopMonHoc]    Script Date: 12/04/2025 12:26:52 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LopMonHoc]') AND type in (N'U'))
DROP TABLE [dbo].[LopMonHoc]
GO
/****** Object:  Table [dbo].[LopMo]    Script Date: 12/04/2025 12:26:52 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LopMo]') AND type in (N'U'))
DROP TABLE [dbo].[LopMo]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 12/04/2025 12:26:52 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Lop]') AND type in (N'U'))
DROP TABLE [dbo].[Lop]
GO
/****** Object:  Table [dbo].[LichThi]    Script Date: 12/04/2025 12:26:52 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LichThi]') AND type in (N'U'))
DROP TABLE [dbo].[LichThi]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 12/04/2025 12:26:52 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Khoa]') AND type in (N'U'))
DROP TABLE [dbo].[Khoa]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 12/04/2025 12:26:52 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HocKy]') AND type in (N'U'))
DROP TABLE [dbo].[HocKy]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 12/04/2025 12:26:52 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GiangVien]') AND type in (N'U'))
DROP TABLE [dbo].[GiangVien]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 12/04/2025 12:26:52 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Diem]') AND type in (N'U'))
DROP TABLE [dbo].[Diem]
GO
/****** Object:  Table [dbo].[DangKy]    Script Date: 12/04/2025 12:26:52 CH ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DangKy]') AND type in (N'U'))
DROP TABLE [dbo].[DangKy]
GO
/****** Object:  Table [dbo].[DangKy]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MSSV] [varchar](10) NOT NULL,
	[Ma_Lop_Mon_Hoc] [varchar](20) NOT NULL,
	[Ngay_Dang_Ky] [date] NOT NULL,
 CONSTRAINT [PK_DangKy] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[MSSV] [varchar](10) NOT NULL,
	[Ma_Mon_Hoc] [varchar](10) NOT NULL,
	[Ma_Hoc_Ky] [varchar](10) NOT NULL,
	[Lan_Thi] [int] NOT NULL,
	[Diem_Qua_Trinh] [float] NULL,
	[Diem_Thi] [float] NULL,
	[Diem_Tong_Ket] [float] NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC,
	[Ma_Mon_Hoc] ASC,
	[Ma_Hoc_Ky] ASC,
	[Lan_Thi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MSGV] [varchar](10) NOT NULL,
	[Ho_Ten] [nvarchar](50) NOT NULL,
	[Gioi_Tinh] [nchar](5) NOT NULL,
	[Ngay_Sinh] [date] NOT NULL,
	[Dia_Chi] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Ma_Khoa] [varchar](10) NOT NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[MSGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[Ma_Hoc_Ky] [varchar](10) NOT NULL,
	[Ten_Hoc_Ky] [nvarchar](50) NOT NULL,
	[Nam_Hoc] [varchar](9) NOT NULL,
	[Ngay_BD] [date] NOT NULL,
	[Ngay_KT] [date] NOT NULL,
 CONSTRAINT [PK_HocKy] PRIMARY KEY CLUSTERED 
(
	[Ma_Hoc_Ky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[Ma_Khoa] [varchar](10) NOT NULL,
	[Ten_Khoa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[Ma_Khoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichThi]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichThi](
	[Ma_Lich_Thi] [int] IDENTITY(1,1) NOT NULL,
	[Ma_Lop_Mon_Hoc] [varchar](20) NULL,
	[Ma_Hoc_Ky] [varchar](10) NULL,
	[Ngay_Thi] [date] NULL,
	[Gio_Bat_Dau] [time](7) NULL,
	[Gio_Ket_Thuc] [time](7) NULL,
	[Phong_Thi] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Lich_Thi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[Ma_Lop] [varchar](10) NOT NULL,
	[MSGVCN] [varchar](10) NOT NULL,
	[Ma_Khoa] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[Ma_Lop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopMo]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopMo](
	[Ma_Lop_Mo] [int] IDENTITY(1,1) NOT NULL,
	[Ma_Lop_Mon_Hoc] [varchar](20) NULL,
	[Ma_Hoc_Ky] [varchar](10) NULL,
	[So_Luong_Toi_Da] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Lop_Mo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopMonHoc]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopMonHoc](
	[Ma_Lop_Mon_Hoc] [varchar](20) NOT NULL,
	[MSGV] [varchar](10) NOT NULL,
	[Ma_Mon_Hoc] [varchar](10) NOT NULL,
	[Ma_Hoc_Ky] [varchar](10) NOT NULL,
	[Ma_Khoa] [varchar](10) NOT NULL,
	[So_Luong_DK_Toi_Da] [int] NOT NULL,
 CONSTRAINT [PK_LopMonHoc] PRIMARY KEY CLUSTERED 
(
	[Ma_Lop_Mon_Hoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[Ma_Mon_Hoc] [varchar](10) NOT NULL,
	[Ten_Mon_Hoc] [nvarchar](50) NOT NULL,
	[So_Tin_Chi] [int] NOT NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[Ma_Mon_Hoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MSSV] [varchar](10) NOT NULL,
	[Ho_Ten] [nvarchar](50) NOT NULL,
	[Gioi_Tinh] [nchar](5) NOT NULL,
	[Ngay_Sinh] [date] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Dia_Chi] [nvarchar](100) NOT NULL,
	[Khoa_Hoc] [varchar](10) NOT NULL,
	[Diem_Ren_Luyen] [float] NOT NULL,
	[Ma_Lop] [varchar](10) NOT NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Ten_Dang_Nhap] [nvarchar](10) NOT NULL,
	[Mat_Khau] [nvarchar](256) NOT NULL,
	[Loai_Tai_Khoan] [int] NOT NULL,
	[Trang_Thai] [int] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Ten_Dang_Nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThoiKhoaBieu]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThoiKhoaBieu](
	[Ma_TKB] [int] IDENTITY(1,1) NOT NULL,
	[Ma_Lop_Mon_Hoc] [varchar](20) NOT NULL,
	[Ngay_Hoc] [nvarchar](10) NOT NULL,
	[Gio_Bat_Dau] [time](7) NOT NULL,
	[Gio_Ket_Thuc] [time](7) NOT NULL,
	[Phong_Hoc] [nvarchar](20) NULL,
	[Ngay_BD] [date] NULL,
	[Ngay_KT] [date] NULL,
 CONSTRAINT [PK_ThoiKhoaBieu] PRIMARY KEY CLUSTERED 
(
	[Ma_TKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DangKy] ON 

INSERT [dbo].[DangKy] ([ID], [MSSV], [Ma_Lop_Mon_Hoc], [Ngay_Dang_Ky]) VALUES (353, N'SV001', N'LMH001', CAST(N'2025-10-02' AS Date))
INSERT [dbo].[DangKy] ([ID], [MSSV], [Ma_Lop_Mon_Hoc], [Ngay_Dang_Ky]) VALUES (354, N'SV002', N'LMH001', CAST(N'2025-10-02' AS Date))
INSERT [dbo].[DangKy] ([ID], [MSSV], [Ma_Lop_Mon_Hoc], [Ngay_Dang_Ky]) VALUES (355, N'SV003', N'LMH001', CAST(N'2025-10-02' AS Date))
GO
SET IDENTITY_INSERT [dbo].[DangKy] OFF
GO
INSERT [dbo].[Diem] ([MSSV], [Ma_Mon_Hoc], [Ma_Hoc_Ky], [Lan_Thi], [Diem_Qua_Trinh], [Diem_Thi], [Diem_Tong_Ket]) VALUES (N'SV001', N'MH001', N'HK2_24_25', 1, 1.8, 1.9, 7.6)
INSERT [dbo].[Diem] ([MSSV], [Ma_Mon_Hoc], [Ma_Hoc_Ky], [Lan_Thi], [Diem_Qua_Trinh], [Diem_Thi], [Diem_Tong_Ket]) VALUES (N'SV001', N'MH007', N'HK2_24_25', 1, 0.9, 5.1, 7.4)
INSERT [dbo].[Diem] ([MSSV], [Ma_Mon_Hoc], [Ma_Hoc_Ky], [Lan_Thi], [Diem_Qua_Trinh], [Diem_Thi], [Diem_Tong_Ket]) VALUES (N'SV001', N'MH012', N'HK3_24_25', 1, 0.9, 3.9, 9.3)
GO
INSERT [dbo].[GiangVien] ([MSGV], [Ho_Ten], [Gioi_Tinh], [Ngay_Sinh], [Dia_Chi], [Email], [Ma_Khoa]) VALUES (N'GV001', N'Nguyễn Văn Anh', N'Nam  ', CAST(N'1980-05-10' AS Date), N'123 Đường Láng, Hà Nội', N'an.nv@edu.vn', N'CNTT')
INSERT [dbo].[GiangVien] ([MSGV], [Ho_Ten], [Gioi_Tinh], [Ngay_Sinh], [Dia_Chi], [Email], [Ma_Khoa]) VALUES (N'GV002', N'Trần Thị Bình', N'Nữ   ', CAST(N'1985-03-15' AS Date), N'45 Nguyễn Huệ, Huế', N'binh.tt@edu.vn', N'KTPM')
INSERT [dbo].[GiangVien] ([MSGV], [Ho_Ten], [Gioi_Tinh], [Ngay_Sinh], [Dia_Chi], [Email], [Ma_Khoa]) VALUES (N'GV003', N'Phạm Quốc Cường', N'Nam  ', CAST(N'1978-07-20' AS Date), N'67 Lê Lợi, Đà Nẵng', N'cuong.pq@edu.vn', N'KHMT')
GO
INSERT [dbo].[HocKy] ([Ma_Hoc_Ky], [Ten_Hoc_Ky], [Nam_Hoc], [Ngay_BD], [Ngay_KT]) VALUES (N'HK1_24_25', N'Học kỳ 1', N'2024-2025', CAST(N'2024-10-07' AS Date), CAST(N'2025-01-19' AS Date))
INSERT [dbo].[HocKy] ([Ma_Hoc_Ky], [Ten_Hoc_Ky], [Nam_Hoc], [Ngay_BD], [Ngay_KT]) VALUES (N'HK2_24_25', N'Học kỳ 2', N'2024-2025', CAST(N'2025-02-10' AS Date), CAST(N'2025-05-25' AS Date))
INSERT [dbo].[HocKy] ([Ma_Hoc_Ky], [Ten_Hoc_Ky], [Nam_Hoc], [Ngay_BD], [Ngay_KT]) VALUES (N'HK3_24_25', N'Học kỳ 3', N'2024-2025', CAST(N'2025-06-02' AS Date), CAST(N'2025-09-14' AS Date))
GO
INSERT [dbo].[Khoa] ([Ma_Khoa], [Ten_Khoa]) VALUES (N'CNTT', N'Công nghệ Thông tin')
INSERT [dbo].[Khoa] ([Ma_Khoa], [Ten_Khoa]) VALUES (N'HTTT', N'Hệ thống Thông tin')
INSERT [dbo].[Khoa] ([Ma_Khoa], [Ten_Khoa]) VALUES (N'KT', N'Kinh tế')
GO
SET IDENTITY_INSERT [dbo].[LichThi] ON 

INSERT [dbo].[LichThi] ([Ma_Lich_Thi], [Ma_Lop_Mon_Hoc], [Ma_Hoc_Ky], [Ngay_Thi], [Gio_Bat_Dau], [Gio_Ket_Thuc], [Phong_Thi]) VALUES (2, N'LMH001', N'HK2_24_25', CAST(N'2025-05-23' AS Date), CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), N'P010')
INSERT [dbo].[LichThi] ([Ma_Lich_Thi], [Ma_Lop_Mon_Hoc], [Ma_Hoc_Ky], [Ngay_Thi], [Gio_Bat_Dau], [Gio_Ket_Thuc], [Phong_Thi]) VALUES (3, N'LMH002', N'HK2_24_25', CAST(N'2025-05-20' AS Date), CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), N'P08')
INSERT [dbo].[LichThi] ([Ma_Lich_Thi], [Ma_Lop_Mon_Hoc], [Ma_Hoc_Ky], [Ngay_Thi], [Gio_Bat_Dau], [Gio_Ket_Thuc], [Phong_Thi]) VALUES (4, N'LMH003', N'HK2_24_25', CAST(N'2025-05-24' AS Date), CAST(N'14:00:00' AS Time), CAST(N'16:00:00' AS Time), N'P08')
SET IDENTITY_INSERT [dbo].[LichThi] OFF
GO
INSERT [dbo].[Lop] ([Ma_Lop], [MSGVCN], [Ma_Khoa]) VALUES (N'CNTT01', N'GV001', N'CNTT')
INSERT [dbo].[Lop] ([Ma_Lop], [MSGVCN], [Ma_Khoa]) VALUES (N'CNTT02', N'GV006', N'CNTT')
INSERT [dbo].[Lop] ([Ma_Lop], [MSGVCN], [Ma_Khoa]) VALUES (N'HTTT01', N'GV004', N'HTTT')
GO
SET IDENTITY_INSERT [dbo].[LopMo] ON 

INSERT [dbo].[LopMo] ([Ma_Lop_Mo], [Ma_Lop_Mon_Hoc], [Ma_Hoc_Ky], [So_Luong_Toi_Da]) VALUES (8, N'LMH011', N'HK3_24_25', 50)
INSERT [dbo].[LopMo] ([Ma_Lop_Mo], [Ma_Lop_Mon_Hoc], [Ma_Hoc_Ky], [So_Luong_Toi_Da]) VALUES (9, N'LMH012', N'HK3_24_25', 50)
INSERT [dbo].[LopMo] ([Ma_Lop_Mo], [Ma_Lop_Mon_Hoc], [Ma_Hoc_Ky], [So_Luong_Toi_Da]) VALUES (10, N'LMH013', N'HK3_24_25', 50)
SET IDENTITY_INSERT [dbo].[LopMo] OFF
GO
INSERT [dbo].[LopMonHoc] ([Ma_Lop_Mon_Hoc], [MSGV], [Ma_Mon_Hoc], [Ma_Hoc_Ky], [Ma_Khoa], [So_Luong_DK_Toi_Da]) VALUES (N'LMH001', N'GV001', N'MH001', N'HK2_24_25', N'CNTT', 50)
INSERT [dbo].[LopMonHoc] ([Ma_Lop_Mon_Hoc], [MSGV], [Ma_Mon_Hoc], [Ma_Hoc_Ky], [Ma_Khoa], [So_Luong_DK_Toi_Da]) VALUES (N'LMH002', N'GV002', N'MH002', N'HK2_24_25', N'KTPM', 40)
INSERT [dbo].[LopMonHoc] ([Ma_Lop_Mon_Hoc], [MSGV], [Ma_Mon_Hoc], [Ma_Hoc_Ky], [Ma_Khoa], [So_Luong_DK_Toi_Da]) VALUES (N'LMH003', N'GV003', N'MH003', N'HK2_24_25', N'KHMT', 45)
GO
INSERT [dbo].[MonHoc] ([Ma_Mon_Hoc], [Ten_Mon_Hoc], [So_Tin_Chi]) VALUES (N'MH001', N'Cơ Sở dữ liệu', 3)
INSERT [dbo].[MonHoc] ([Ma_Mon_Hoc], [Ten_Mon_Hoc], [So_Tin_Chi]) VALUES (N'MH002', N'Lập trình Hướng đối tượng', 4)
INSERT [dbo].[MonHoc] ([Ma_Mon_Hoc], [Ten_Mon_Hoc], [So_Tin_Chi]) VALUES (N'MH003', N'Kiến trúc Máy tính', 3)
GO
INSERT [dbo].[SinhVien] ([MSSV], [Ho_Ten], [Gioi_Tinh], [Ngay_Sinh], [Email], [Dia_Chi], [Khoa_Hoc], [Diem_Ren_Luyen], [Ma_Lop]) VALUES (N'SV001', N'Nguyễn Văn Hùng', N'Nam  ', CAST(N'2003-01-15' AS Date), N'phamnguyentuanhung2004@gmail.com', N'123 Phạm Văn Đồng, Hà Nội', N'K2021', 85, N'CNTT01')
INSERT [dbo].[SinhVien] ([MSSV], [Ho_Ten], [Gioi_Tinh], [Ngay_Sinh], [Email], [Dia_Chi], [Khoa_Hoc], [Diem_Ren_Luyen], [Ma_Lop]) VALUES (N'SV002', N'Trần Thị Mai', N'Nữ   ', CAST(N'2003-03-20' AS Date), N'mai.tt@sv.edu.vn', N'45 Lê Lợi, Đà Nẵng', N'K2021', 90, N'KTPM01')
INSERT [dbo].[SinhVien] ([MSSV], [Ho_Ten], [Gioi_Tinh], [Ngay_Sinh], [Email], [Dia_Chi], [Khoa_Hoc], [Diem_Ren_Luyen], [Ma_Lop]) VALUES (N'SV003', N'Phạm Quốc Khánh', N'Nam  ', CAST(N'2003-05-25' AS Date), N'khanh.pq@sv.edu.vn', N'67 Nguyễn Huệ, Huế', N'K2021', 78, N'KHMT01')
GO
INSERT [dbo].[TaiKhoan] ([Ten_Dang_Nhap], [Mat_Khau], [Loai_Tai_Khoan], [Trang_Thai]) VALUES (N'admin', N'pass123', 3, 1)
INSERT [dbo].[TaiKhoan] ([Ten_Dang_Nhap], [Mat_Khau], [Loai_Tai_Khoan], [Trang_Thai]) VALUES (N'GV001', N'GV001', 2, 1)
INSERT [dbo].[TaiKhoan] ([Ten_Dang_Nhap], [Mat_Khau], [Loai_Tai_Khoan], [Trang_Thai]) VALUES (N'GV002', N'pass123', 2, 1)
GO
SET IDENTITY_INSERT [dbo].[ThoiKhoaBieu] ON 

INSERT [dbo].[ThoiKhoaBieu] ([Ma_TKB], [Ma_Lop_Mon_Hoc], [Ngay_Hoc], [Gio_Bat_Dau], [Gio_Ket_Thuc], [Phong_Hoc], [Ngay_BD], [Ngay_KT]) VALUES (36, N'LMH001', N'Thứ 2', CAST(N'07:00:00' AS Time), CAST(N'09:00:00' AS Time), N'A101', CAST(N'2024-10-07' AS Date), CAST(N'2024-12-30' AS Date))
INSERT [dbo].[ThoiKhoaBieu] ([Ma_TKB], [Ma_Lop_Mon_Hoc], [Ngay_Hoc], [Gio_Bat_Dau], [Gio_Ket_Thuc], [Phong_Hoc], [Ngay_BD], [Ngay_KT]) VALUES (37, N'LMH001', N'Thứ 4', CAST(N'09:15:00' AS Time), CAST(N'11:15:00' AS Time), N'A101', CAST(N'2024-10-07' AS Date), CAST(N'2024-12-30' AS Date))
INSERT [dbo].[ThoiKhoaBieu] ([Ma_TKB], [Ma_Lop_Mon_Hoc], [Ngay_Hoc], [Gio_Bat_Dau], [Gio_Ket_Thuc], [Phong_Hoc], [Ngay_BD], [Ngay_KT]) VALUES (38, N'LMH001', N'Thứ 6', CAST(N'13:00:00' AS Time), CAST(N'15:00:00' AS Time), N'A101', CAST(N'2024-10-07' AS Date), CAST(N'2024-12-30' AS Date))
SET IDENTITY_INSERT [dbo].[ThoiKhoaBieu] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DangKy]    Script Date: 12/04/2025 12:26:52 CH ******/
ALTER TABLE [dbo].[DangKy] ADD  CONSTRAINT [UQ_DangKy] UNIQUE NONCLUSTERED 
(
	[MSSV] ASC,
	[Ma_Lop_Mon_Hoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_LopMonHoc] FOREIGN KEY([Ma_Lop_Mon_Hoc])
REFERENCES [dbo].[LopMonHoc] ([Ma_Lop_Mon_Hoc])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DangKy_LopMonHoc]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_SinhVien] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SinhVien] ([MSSV])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DangKy_SinhVien]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_HocKy] FOREIGN KEY([Ma_Hoc_Ky])
REFERENCES [dbo].[HocKy] ([Ma_Hoc_Ky])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_HocKy]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_MonHoc] FOREIGN KEY([Ma_Mon_Hoc])
REFERENCES [dbo].[MonHoc] ([Ma_Mon_Hoc])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_MonHoc]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_SinhVien] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SinhVien] ([MSSV])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_SinhVien]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_Khoa] FOREIGN KEY([Ma_Khoa])
REFERENCES [dbo].[Khoa] ([Ma_Khoa])
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK_GiaoVien_Khoa]
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD FOREIGN KEY([Ma_Hoc_Ky])
REFERENCES [dbo].[HocKy] ([Ma_Hoc_Ky])
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD FOREIGN KEY([Ma_Lop_Mon_Hoc])
REFERENCES [dbo].[LopMonHoc] ([Ma_Lop_Mon_Hoc])
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_GiaoVien] FOREIGN KEY([MSGVCN])
REFERENCES [dbo].[GiangVien] ([MSGV])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_GiaoVien]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Khoa] FOREIGN KEY([Ma_Khoa])
REFERENCES [dbo].[Khoa] ([Ma_Khoa])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_Khoa]
GO
ALTER TABLE [dbo].[LopMo]  WITH CHECK ADD FOREIGN KEY([Ma_Hoc_Ky])
REFERENCES [dbo].[HocKy] ([Ma_Hoc_Ky])
GO
ALTER TABLE [dbo].[LopMo]  WITH CHECK ADD FOREIGN KEY([Ma_Lop_Mon_Hoc])
REFERENCES [dbo].[LopMonHoc] ([Ma_Lop_Mon_Hoc])
GO
ALTER TABLE [dbo].[LopMonHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopMonHoc_GiaoVien] FOREIGN KEY([MSGV])
REFERENCES [dbo].[GiangVien] ([MSGV])
GO
ALTER TABLE [dbo].[LopMonHoc] CHECK CONSTRAINT [FK_LopMonHoc_GiaoVien]
GO
ALTER TABLE [dbo].[LopMonHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopMonHoc_HocKy] FOREIGN KEY([Ma_Hoc_Ky])
REFERENCES [dbo].[HocKy] ([Ma_Hoc_Ky])
GO
ALTER TABLE [dbo].[LopMonHoc] CHECK CONSTRAINT [FK_LopMonHoc_HocKy]
GO
ALTER TABLE [dbo].[LopMonHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopMonHoc_Khoa] FOREIGN KEY([Ma_Khoa])
REFERENCES [dbo].[Khoa] ([Ma_Khoa])
GO
ALTER TABLE [dbo].[LopMonHoc] CHECK CONSTRAINT [FK_LopMonHoc_Khoa]
GO
ALTER TABLE [dbo].[LopMonHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopMonHoc_MonHoc] FOREIGN KEY([Ma_Mon_Hoc])
REFERENCES [dbo].[MonHoc] ([Ma_Mon_Hoc])
GO
ALTER TABLE [dbo].[LopMonHoc] CHECK CONSTRAINT [FK_LopMonHoc_MonHoc]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY([Ma_Lop])
REFERENCES [dbo].[Lop] ([Ma_Lop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Lop]
GO
ALTER TABLE [dbo].[ThoiKhoaBieu]  WITH CHECK ADD  CONSTRAINT [FK_ThoiKhoaBieu_LopMonHoc] FOREIGN KEY([Ma_Lop_Mon_Hoc])
REFERENCES [dbo].[LopMonHoc] ([Ma_Lop_Mon_Hoc])
GO
ALTER TABLE [dbo].[ThoiKhoaBieu] CHECK CONSTRAINT [FK_ThoiKhoaBieu_LopMonHoc]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_Lan_Thi] CHECK  (([Lan_Thi]>(0)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_Lan_Thi]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_Qua_Trinh] CHECK  (([Diem_Qua_Trinh]>=(0) AND [Diem_Qua_Trinh]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_Qua_Trinh]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_Tong_Ket] CHECK  (([Diem_Tong_Ket]>=(0) AND [Diem_Tong_Ket]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_Tong_Ket]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_Thi] CHECK  (([Diem_Thi]>=(0) AND [Diem_Thi]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_Thi]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [CK_GiaoVien_Gioi_Tinh] CHECK  (([Gioi_Tinh]=N'Nam' OR [Gioi_Tinh]=N'Nữ'))
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [CK_GiaoVien_Gioi_Tinh]
GO
ALTER TABLE [dbo].[HocKy]  WITH CHECK ADD  CONSTRAINT [CK_HocKy_Ngay] CHECK  (([Ngay_KT]>[Ngay_BD]))
GO
ALTER TABLE [dbo].[HocKy] CHECK CONSTRAINT [CK_HocKy_Ngay]
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD  CONSTRAINT [CK_LichThi_Gio] CHECK  (([Gio_Bat_Dau]<[Gio_Ket_Thuc]))
GO
ALTER TABLE [dbo].[LichThi] CHECK CONSTRAINT [CK_LichThi_Gio]
GO
ALTER TABLE [dbo].[LopMo]  WITH CHECK ADD  CONSTRAINT [CK_LopMo_SoLuong] CHECK  (([So_Luong_Toi_Da]>(0)))
GO
ALTER TABLE [dbo].[LopMo] CHECK CONSTRAINT [CK_LopMo_SoLuong]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [CK_MonHoc_So_Tin_Chi] CHECK  (([So_Tin_Chi]>(0)))
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [CK_MonHoc_So_Tin_Chi]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CK_SinhVien_Diem_Ren_Luyen] CHECK  (([Diem_Ren_Luyen]>=(0) AND [Diem_Ren_Luyen]<=(100)))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CK_SinhVien_Diem_Ren_Luyen]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CK_SinhVien_Gioi_Tinh] CHECK  (([Gioi_Tinh]=N'Nam' OR [Gioi_Tinh]=N'Nữ'))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CK_SinhVien_Gioi_Tinh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_Loai_Tai_Khoan] CHECK  (([Loai_Tai_Khoan]=(3) OR [Loai_Tai_Khoan]=(2) OR [Loai_Tai_Khoan]=(1)))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_Loai_Tai_Khoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_Trang_Thai] CHECK  (([Trang_Thai]=(1) OR [Trang_Thai]=(0)))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_Trang_Thai]
GO
ALTER TABLE [dbo].[ThoiKhoaBieu]  WITH CHECK ADD  CONSTRAINT [CK_ThoiKhoaBieu_GioHoc] CHECK  (([Gio_Ket_Thuc]>[Gio_Bat_Dau]))
GO
ALTER TABLE [dbo].[ThoiKhoaBieu] CHECK CONSTRAINT [CK_ThoiKhoaBieu_GioHoc]
GO
/****** Object:  StoredProcedure [dbo].[AddDefaultGrades]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDefaultGrades]
    @MaMonHoc INT
AS
BEGIN
    -- Thêm điểm mặc định (0.0) cho tất cả sinh viên đã đăng ký môn học
    INSERT INTO Diem (MSSV, Ma_Mon_Hoc, Ma_Hoc_Ky, Lan_Thi, Diem_Qua_Trinh, Diem_Thi, Diem_Tong_Ket)
    SELECT 
        DangKy.MSSV, 
        @MaMonHoc, 
        LopMonHoc.Ma_Hoc_Ky,  -- Gán học kỳ từ bảng LopMonHoc
        1,  -- Gán lần thi mặc định là 1 (có thể thay đổi tùy theo nhu cầu)
        ROUND(RAND(CHECKSUM(NEWID())) * 10, 1),  -- Điểm quá trình ngẫu nhiên
        ROUND(RAND(CHECKSUM(NEWID())) * 10, 1),  -- Điểm thi ngẫu nhiên
        ROUND(RAND(CHECKSUM(NEWID())) * 10, 1)   -- Điểm tổng kết ngẫu nhiên
    FROM DangKy
    JOIN LopMonHoc ON DangKy.Ma_Lop_Mon_Hoc = LopMonHoc.Ma_Lop_Mon_Hoc
    WHERE LopMonHoc.Ma_Lop_Mon_Hoc = @MaMonHoc;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddDefaultGradesForAllSubjects]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDefaultGradesForAllSubjects]
AS
BEGIN
    -- Thêm điểm mặc định (0.0) cho tất cả sinh viên đã đăng ký tất cả các môn học
    INSERT INTO Diem (MSSV, Ma_Mon_Hoc, Ma_Hoc_Ky, Lan_Thi, Diem_Qua_Trinh, Diem_Thi, Diem_Tong_Ket)
    SELECT 
        DangKy.MSSV, 
        LopMonHoc.Ma_Mon_Hoc, 
        LopMonHoc.Ma_Hoc_Ky,  -- Gán học kỳ từ bảng LopMonHoc
        1,  -- Gán lần thi mặc định là 1 (có thể thay đổi tùy theo nhu cầu)
        ROUND(RAND(CHECKSUM(NEWID())) * 10, 1),  -- Điểm quá trình ngẫu nhiên
        ROUND(RAND(CHECKSUM(NEWID())) * 10, 1),  -- Điểm thi ngẫu nhiên
        ROUND(RAND(CHECKSUM(NEWID())) * 10, 1)   -- Điểm tổng kết ngẫu nhiên
    FROM DangKy
    JOIN LopMonHoc ON DangKy.Ma_Lop_Mon_Hoc = LopMonHoc.Ma_Lop_Mon_Hoc;
END;
GO
/****** Object:  Trigger [dbo].[trg_AutoInsertDiem]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[trg_AutoInsertDiem]
ON [dbo].[DangKy]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Diem (MSSV,Ma_Mon_Hoc, Ma_Hoc_Ky,Lan_Thi,Diem_Qua_Trinh, Diem_Thi, Diem_Tong_Ket)
    SELECT I.MSSV,LopMonHoc.Ma_Mon_Hoc,Ma_Hoc_Ky,1,NULL,NULL,NULL
    FROM inserted i,LopMonHoc
	WHERE i.Ma_Lop_Mon_Hoc=LopMonHoc.Ma_Lop_Mon_Hoc
	;
END;
GO
ALTER TABLE [dbo].[DangKy] ENABLE TRIGGER [trg_AutoInsertDiem]
GO
/****** Object:  Trigger [dbo].[trg_XoaMonDangKy]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_XoaMonDangKy]
ON [dbo].[DangKy]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- Xóa điểm tương ứng trong bảng Diem khi sinh viên hủy đăng ký môn
    DELETE FROM Diem
    WHERE MSSV IN (SELECT MSSV FROM deleted)
      AND Ma_Mon_Hoc IN (
            SELECT LMH.Ma_Mon_Hoc
            FROM deleted d
            JOIN LopMonHoc LMH ON d.Ma_Lop_Mon_Hoc = LMH.Ma_Lop_Mon_Hoc
        );
END;
GO
ALTER TABLE [dbo].[DangKy] ENABLE TRIGGER [trg_XoaMonDangKy]
GO
/****** Object:  Trigger [dbo].[trg_DeleteLecturerAccount]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_DeleteLecturerAccount]
ON [dbo].[GiangVien]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM TaiKhoan
    WHERE Ten_Dang_Nhap IN (SELECT MSGV FROM deleted);
END;
GO
ALTER TABLE [dbo].[GiangVien] ENABLE TRIGGER [trg_DeleteLecturerAccount]
GO
/****** Object:  Trigger [dbo].[trg_InsertLecturerAccount]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_InsertLecturerAccount]
ON [dbo].[GiangVien]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO TaiKhoan (Ten_Dang_Nhap, Mat_Khau, Loai_Tai_Khoan,Trang_Thai)
    SELECT 
        i.MSGV,               -- Tên đăng nhập là MSSV
        'pass123',             -- Mật khẩu mặc định (có thể hash trước)
        2,            -- Loại tài khoản mặc định
		1-- Trạng thái mặc định
    FROM inserted i;
END;
GO
ALTER TABLE [dbo].[GiangVien] ENABLE TRIGGER [trg_InsertLecturerAccount]
GO
/****** Object:  Trigger [dbo].[trg_DeleteStudentAccount]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_DeleteStudentAccount]
ON [dbo].[SinhVien]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM TaiKhoan
    WHERE Ten_Dang_Nhap IN (SELECT MSSV FROM deleted);
END;
GO
ALTER TABLE [dbo].[SinhVien] ENABLE TRIGGER [trg_DeleteStudentAccount]
GO
/****** Object:  Trigger [dbo].[trg_InsertStudentAccount]    Script Date: 12/04/2025 12:26:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_InsertStudentAccount]
ON [dbo].[SinhVien]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO TaiKhoan (Ten_Dang_Nhap, Mat_Khau, Loai_Tai_Khoan,Trang_Thai)
    SELECT 
        i.MSSV,               -- Tên đăng nhập là MSSV
        'pass123',             -- Mật khẩu mặc định (có thể hash trước)
        1,            -- Loại tài khoản mặc định
		1
    FROM inserted i;
END;
GO
ALTER TABLE [dbo].[SinhVien] ENABLE TRIGGER [trg_InsertStudentAccount]
GO
