USE [master]
GO
/****** Object:  Database [DB_QLSV]    Script Date: 18/04/2025 8:38:38 SA ******/
CREATE DATABASE [DB_QLSV1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_QLSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.BLUE\MSSQL\DATA\DB_QLSV1.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_QLSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.BLUE\MSSQL\DATA\DB_QLSV_log1.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_QLSV1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_QLSV1]
GO
/****** Object:  Table [dbo].[DangKy]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MSSV] [varchar](10) NOT NULL,
	[Ma_Lop_Mon_Hoc] [varchar](20) NOT NULL,
	[Ngay_Dang_Ky] [date] NOT NULL,
 CONSTRAINT [PK_DangKy] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[MSSV] [varchar](10) NOT NULL,
	[Ma_Mon_Hoc] [varchar](10) NOT NULL,
	[Ma_Hoc_Ky] [varchar](10) NOT NULL,
	[Lan_Thi] [int] NOT NULL,
	[Diem_Qua_Trinh] [decimal](18, 2) NULL,
	[Diem_Thi] [decimal](18, 2) NULL,
	[Diem_Tong_Ket] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC,
	[Ma_Mon_Hoc] ASC,
	[Ma_Hoc_Ky] ASC,
	[Lan_Thi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MSGV] [varchar](10) NOT NULL,
	[Ho_Ten] [nvarchar](50) NOT NULL,
	[Gioi_Tinh] [nchar](5) NOT NULL,
	[Ngay_Sinh] [date] NOT NULL,
	[Dia_Chi] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Ma_Khoa] [varchar](10) NOT NULL,
	[Anh] [varbinary](max) NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[MSGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[Ma_Hoc_Ky] [varchar](10) NOT NULL,
	[Ten_Hoc_Ky] [nvarchar](50) NOT NULL,
	[Nam_Hoc] [varchar](9) NOT NULL,
	[Ngay_BD] [date] NOT NULL,
	[Ngay_KT] [date] NOT NULL,
 CONSTRAINT [PK_HocKy] PRIMARY KEY CLUSTERED 
(
	[Ma_Hoc_Ky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[Ma_Khoa] [varchar](10) NOT NULL,
	[Ten_Khoa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[Ma_Khoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichThi]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichThi](
	[Ma_Lich_Thi] [int] IDENTITY(1,1) NOT NULL,
	[Ma_Lop_Mon_Hoc] [varchar](20) NULL,
	[Ma_Hoc_Ky] [varchar](10) NULL,
	[Ngay_Thi] [date] NULL,
	[Gio_Bat_Dau] [time](7) NULL,
	[Gio_Ket_Thuc] [time](7) NULL,
	[Phong_Thi] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Lich_Thi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[Ma_Lop] [varchar](10) NOT NULL,
	[MSGVCN] [varchar](10) NOT NULL,
	[Ma_Khoa] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[Ma_Lop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopMonHoc]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopMonHoc](
	[Ma_Lop_Mon_Hoc] [varchar](20) NOT NULL,
	[MSGV] [varchar](10) NOT NULL,
	[Ma_Mon_Hoc] [varchar](10) NOT NULL,
	[Ma_Hoc_Ky] [varchar](10) NOT NULL,
	[Ma_Khoa] [varchar](10) NOT NULL,
	[So_Luong_Dang_Ky_Toi_Da] [int] NOT NULL,
 CONSTRAINT [PK_LopMonHoc] PRIMARY KEY CLUSTERED 
(
	[Ma_Lop_Mon_Hoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[Ma_Mon_Hoc] [varchar](10) NOT NULL,
	[Ten_Mon_Hoc] [nvarchar](50) NOT NULL,
	[So_Tin_Chi] [int] NOT NULL,
	[He_So_QT] [decimal](2, 1) NOT NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[Ma_Mon_Hoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonMoDangKy]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonMoDangKy](
	[Ma_Lop_Mo] [int] IDENTITY(1,1) NOT NULL,
	[Ma_Lop_Mon_Hoc] [varchar](20) NULL,
	[Ma_Hoc_Ky] [varchar](10) NULL,
	[So_Luong_Toi_Da] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma_Lop_Mo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MSSV] [varchar](10) NOT NULL,
	[Ho_Ten] [nvarchar](50) NOT NULL,
	[Gioi_Tinh] [nchar](5) NOT NULL,
	[Ngay_Sinh] [date] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Dia_Chi] [nvarchar](100) NOT NULL,
	[Khoa_Hoc] [varchar](10) NOT NULL,
	[Diem_Ren_Luyen] [float] NOT NULL,
	[Ma_Lop] [varchar](10) NOT NULL,
	[Anh] [varbinary](max) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Ten_Dang_Nhap] [nvarchar](10) NOT NULL,
	[Mat_Khau] [nvarchar](256) NOT NULL,
	[Loai_Tai_Khoan] [int] NOT NULL,
	[Trang_Thai] [int] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Ten_Dang_Nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThoiKhoaBieu]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThoiKhoaBieu](
	[Ma_TKB] [int] IDENTITY(1,1) NOT NULL,
	[Ma_Lop_Mon_Hoc] [varchar](20) NOT NULL,
	[Ngay_Hoc] [nvarchar](10) NOT NULL,
	[Gio_Bat_Dau] [time](7) NOT NULL,
	[Gio_Ket_Thuc] [time](7) NOT NULL,
	[Phong_Hoc] [nvarchar](20) NULL,
	[Ngay_BD] [date] NULL,
	[Ngay_KT] [date] NULL,
 CONSTRAINT [PK_ThoiKhoaBieu] PRIMARY KEY CLUSTERED 
(
	[Ma_TKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DangKy] ON 

INSERT [dbo].[DangKy] ([ID], [MSSV], [Ma_Lop_Mon_Hoc], [Ngay_Dang_Ky]) VALUES (353, N'SV001', N'LMH001', CAST(N'2025-10-02' AS Date))
INSERT [dbo].[DangKy] ([ID], [MSSV], [Ma_Lop_Mon_Hoc], [Ngay_Dang_Ky]) VALUES (354, N'SV002', N'LMH001', CAST(N'2025-10-02' AS Date))
INSERT [dbo].[DangKy] ([ID], [MSSV], [Ma_Lop_Mon_Hoc], [Ngay_Dang_Ky]) VALUES (355, N'SV003', N'LMH001', CAST(N'2025-10-02' AS Date))
GO
SET IDENTITY_INSERT [dbo].[DangKy] OFF
GO
INSERT [dbo].[Diem] ([MSSV], [Ma_Mon_Hoc], [Ma_Hoc_Ky], [Lan_Thi], [Diem_Qua_Trinh], [Diem_Thi], [Diem_Tong_Ket]) VALUES (N'SV001', N'MH001', N'HK2_24_25', 1, CAST(3.00 AS Decimal(18, 2)), CAST(4.00 AS Decimal(18, 2)), CAST(3.70 AS Decimal(18, 2)))
INSERT [dbo].[Diem] ([MSSV], [Ma_Mon_Hoc], [Ma_Hoc_Ky], [Lan_Thi], [Diem_Qua_Trinh], [Diem_Thi], [Diem_Tong_Ket]) VALUES (N'SV001', N'MH001', N'HK2_24_25', 2, CAST(2.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[Diem] ([MSSV], [Ma_Mon_Hoc], [Ma_Hoc_Ky], [Lan_Thi], [Diem_Qua_Trinh], [Diem_Thi], [Diem_Tong_Ket]) VALUES (N'SV001', N'MH007', N'HK2_24_25', 1, CAST(0.90 AS Decimal(18, 2)), CAST(5.10 AS Decimal(18, 2)), CAST(3.42 AS Decimal(18, 2)))
GO
INSERT [dbo].[GiangVien] ([MSGV], [Ho_Ten], [Gioi_Tinh], [Ngay_Sinh], [Dia_Chi], [Email], [Ma_Khoa], [Anh]) VALUES (N'GV002', N'Trần Thị Bình', N'Nữ   ', CAST(N'1985-03-15' AS Date), N'45 Nguyễn Huệ, Huế', N'binh.tt@edu.vn', N'KTPM', NULL)
INSERT [dbo].[GiangVien] ([MSGV], [Ho_Ten], [Gioi_Tinh], [Ngay_Sinh], [Dia_Chi], [Email], [Ma_Khoa], [Anh]) VALUES (N'GV003', N'Phạm Quốc Cường', N'Nam  ', CAST(N'1978-07-20' AS Date), N'67 Lê Lợi, Đà Nẵng', N'cuong.pq@edu.vn', N'KHMT', NULL)
GO
INSERT [dbo].[HocKy] ([Ma_Hoc_Ky], [Ten_Hoc_Ky], [Nam_Hoc], [Ngay_BD], [Ngay_KT]) VALUES (N'HK1_24_25', N'Học kỳ 1', N'2024-2025', CAST(N'2024-10-07' AS Date), CAST(N'2025-01-19' AS Date))
INSERT [dbo].[HocKy] ([Ma_Hoc_Ky], [Ten_Hoc_Ky], [Nam_Hoc], [Ngay_BD], [Ngay_KT]) VALUES (N'HK2_24_25', N'Học kỳ 2', N'2024-2025', CAST(N'2025-02-10' AS Date), CAST(N'2025-05-25' AS Date))
INSERT [dbo].[HocKy] ([Ma_Hoc_Ky], [Ten_Hoc_Ky], [Nam_Hoc], [Ngay_BD], [Ngay_KT]) VALUES (N'HK3_24_25', N'Học kỳ 3', N'2024-2025', CAST(N'2025-06-02' AS Date), CAST(N'2025-09-14' AS Date))
GO
INSERT [dbo].[Khoa] ([Ma_Khoa], [Ten_Khoa]) VALUES (N'AI', N'Trí tuệ nhân tạo')
INSERT [dbo].[Khoa] ([Ma_Khoa], [Ten_Khoa]) VALUES (N'CNTT', N'Công nghệ Thông tin')
INSERT [dbo].[Khoa] ([Ma_Khoa], [Ten_Khoa]) VALUES (N'HTTT', N'Hệ thống Thông tin')
GO
SET IDENTITY_INSERT [dbo].[LichThi] ON 

INSERT [dbo].[LichThi] ([Ma_Lich_Thi], [Ma_Lop_Mon_Hoc], [Ma_Hoc_Ky], [Ngay_Thi], [Gio_Bat_Dau], [Gio_Ket_Thuc], [Phong_Thi]) VALUES (2, N'LMH001', N'HK2_24_25', CAST(N'2025-05-23' AS Date), CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), N'P010')
INSERT [dbo].[LichThi] ([Ma_Lich_Thi], [Ma_Lop_Mon_Hoc], [Ma_Hoc_Ky], [Ngay_Thi], [Gio_Bat_Dau], [Gio_Ket_Thuc], [Phong_Thi]) VALUES (3, N'LMH002', N'HK2_24_25', CAST(N'2025-05-20' AS Date), CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), N'P08')
INSERT [dbo].[LichThi] ([Ma_Lich_Thi], [Ma_Lop_Mon_Hoc], [Ma_Hoc_Ky], [Ngay_Thi], [Gio_Bat_Dau], [Gio_Ket_Thuc], [Phong_Thi]) VALUES (4, N'LMH003', N'HK2_24_25', CAST(N'2025-05-24' AS Date), CAST(N'14:00:00' AS Time), CAST(N'16:00:00' AS Time), N'P08')
SET IDENTITY_INSERT [dbo].[LichThi] OFF
GO
INSERT [dbo].[Lop] ([Ma_Lop], [MSGVCN], [Ma_Khoa]) VALUES (N'CNTT01', N'GV001', N'CNTT')
INSERT [dbo].[Lop] ([Ma_Lop], [MSGVCN], [Ma_Khoa]) VALUES (N'CNTT02', N'GV006', N'CNTT')
INSERT [dbo].[Lop] ([Ma_Lop], [MSGVCN], [Ma_Khoa]) VALUES (N'CNTT03', N'GV008', N'CNTT')
GO
INSERT [dbo].[LopMonHoc] ([Ma_Lop_Mon_Hoc], [MSGV], [Ma_Mon_Hoc], [Ma_Hoc_Ky], [Ma_Khoa], [So_Luong_Dang_Ky_Toi_Da]) VALUES (N'LMH001', N'GV001', N'MH001', N'HK2_24_25', N'CNTT', 55)
INSERT [dbo].[LopMonHoc] ([Ma_Lop_Mon_Hoc], [MSGV], [Ma_Mon_Hoc], [Ma_Hoc_Ky], [Ma_Khoa], [So_Luong_Dang_Ky_Toi_Da]) VALUES (N'LMH002', N'GV002', N'MH002', N'HK2_24_25', N'KTPM', 40)
INSERT [dbo].[LopMonHoc] ([Ma_Lop_Mon_Hoc], [MSGV], [Ma_Mon_Hoc], [Ma_Hoc_Ky], [Ma_Khoa], [So_Luong_Dang_Ky_Toi_Da]) VALUES (N'LMH003', N'GV003', N'MH003', N'HK2_24_25', N'KHMT', 45)
GO
INSERT [dbo].[MonHoc] ([Ma_Mon_Hoc], [Ten_Mon_Hoc], [So_Tin_Chi], [He_So_QT]) VALUES (N'MH001', N'Cơ Sở dữ liệu', 3, CAST(0.3 AS Decimal(2, 1)))
INSERT [dbo].[MonHoc] ([Ma_Mon_Hoc], [Ten_Mon_Hoc], [So_Tin_Chi], [He_So_QT]) VALUES (N'MH002', N'Lập trình Hướng đối tượng', 4, CAST(0.3 AS Decimal(2, 1)))
INSERT [dbo].[MonHoc] ([Ma_Mon_Hoc], [Ten_Mon_Hoc], [So_Tin_Chi], [He_So_QT]) VALUES (N'MH003', N'Kiến trúc Máy tính', 3, CAST(0.4 AS Decimal(2, 1)))
GO
SET IDENTITY_INSERT [dbo].[MonMoDangKy] ON 

INSERT [dbo].[MonMoDangKy] ([Ma_Lop_Mo], [Ma_Lop_Mon_Hoc], [Ma_Hoc_Ky], [So_Luong_Toi_Da]) VALUES (8, N'LMH011', N'HK3_24_25', 50)
INSERT [dbo].[MonMoDangKy] ([Ma_Lop_Mo], [Ma_Lop_Mon_Hoc], [Ma_Hoc_Ky], [So_Luong_Toi_Da]) VALUES (9, N'LMH012', N'HK3_24_25', 50)
INSERT [dbo].[MonMoDangKy] ([Ma_Lop_Mo], [Ma_Lop_Mon_Hoc], [Ma_Hoc_Ky], [So_Luong_Toi_Da]) VALUES (10, N'LMH013', N'HK3_24_25', 50)
SET IDENTITY_INSERT [dbo].[MonMoDangKy] OFF
GO
INSERT [dbo].[TaiKhoan] ([Ten_Dang_Nhap], [Mat_Khau], [Loai_Tai_Khoan], [Trang_Thai]) VALUES (N'admin', N'pass123', 3, 1)
INSERT [dbo].[TaiKhoan] ([Ten_Dang_Nhap], [Mat_Khau], [Loai_Tai_Khoan], [Trang_Thai]) VALUES (N'GV001', N'GV001', 2, 1)
INSERT [dbo].[TaiKhoan] ([Ten_Dang_Nhap], [Mat_Khau], [Loai_Tai_Khoan], [Trang_Thai]) VALUES (N'GV002', N'pass123', 2, 1)
GO
SET IDENTITY_INSERT [dbo].[ThoiKhoaBieu] ON 

INSERT [dbo].[ThoiKhoaBieu] ([Ma_TKB], [Ma_Lop_Mon_Hoc], [Ngay_Hoc], [Gio_Bat_Dau], [Gio_Ket_Thuc], [Phong_Hoc], [Ngay_BD], [Ngay_KT]) VALUES (36, N'LMH003', N'Thứ 2', CAST(N'07:00:00' AS Time), CAST(N'10:00:00' AS Time), N'A101', CAST(N'2024-10-07' AS Date), CAST(N'2024-12-30' AS Date))
INSERT [dbo].[ThoiKhoaBieu] ([Ma_TKB], [Ma_Lop_Mon_Hoc], [Ngay_Hoc], [Gio_Bat_Dau], [Gio_Ket_Thuc], [Phong_Hoc], [Ngay_BD], [Ngay_KT]) VALUES (37, N'LMH001', N'Thứ 4', CAST(N'09:15:00' AS Time), CAST(N'11:15:00' AS Time), N'A101', CAST(N'2024-10-07' AS Date), CAST(N'2024-12-30' AS Date))
INSERT [dbo].[ThoiKhoaBieu] ([Ma_TKB], [Ma_Lop_Mon_Hoc], [Ngay_Hoc], [Gio_Bat_Dau], [Gio_Ket_Thuc], [Phong_Hoc], [Ngay_BD], [Ngay_KT]) VALUES (38, N'LMH001', N'Thứ 6', CAST(N'13:00:00' AS Time), CAST(N'15:00:00' AS Time), N'A101', CAST(N'2024-10-07' AS Date), CAST(N'2024-12-30' AS Date))
SET IDENTITY_INSERT [dbo].[ThoiKhoaBieu] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DangKy]    Script Date: 18/04/2025 8:38:38 SA ******/
ALTER TABLE [dbo].[DangKy] ADD  CONSTRAINT [UQ_DangKy] UNIQUE NONCLUSTERED 
(
	[MSSV] ASC,
	[Ma_Lop_Mon_Hoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Lop_MaGV]    Script Date: 18/04/2025 8:38:38 SA ******/
ALTER TABLE [dbo].[Lop] ADD  CONSTRAINT [UQ_Lop_MaGV] UNIQUE NONCLUSTERED 
(
	[MSGVCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MonHoc] ADD  CONSTRAINT [DF__MonHoc__He_So_QT__2CF2ADDF]  DEFAULT ((0.4)) FOR [He_So_QT]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_LopMonHoc] FOREIGN KEY([Ma_Lop_Mon_Hoc])
REFERENCES [dbo].[LopMonHoc] ([Ma_Lop_Mon_Hoc])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DangKy_LopMonHoc]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_SinhVien] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SinhVien] ([MSSV])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DangKy_SinhVien]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_HocKy] FOREIGN KEY([Ma_Hoc_Ky])
REFERENCES [dbo].[HocKy] ([Ma_Hoc_Ky])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_HocKy]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_MonHoc] FOREIGN KEY([Ma_Mon_Hoc])
REFERENCES [dbo].[MonHoc] ([Ma_Mon_Hoc])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_MonHoc]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_SinhVien] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SinhVien] ([MSSV])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_SinhVien]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_Khoa] FOREIGN KEY([Ma_Khoa])
REFERENCES [dbo].[Khoa] ([Ma_Khoa])
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK_GiaoVien_Khoa]
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD FOREIGN KEY([Ma_Hoc_Ky])
REFERENCES [dbo].[HocKy] ([Ma_Hoc_Ky])
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD FOREIGN KEY([Ma_Lop_Mon_Hoc])
REFERENCES [dbo].[LopMonHoc] ([Ma_Lop_Mon_Hoc])
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_GiaoVien] FOREIGN KEY([MSGVCN])
REFERENCES [dbo].[GiangVien] ([MSGV])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_GiaoVien]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Khoa] FOREIGN KEY([Ma_Khoa])
REFERENCES [dbo].[Khoa] ([Ma_Khoa])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_Khoa]
GO
ALTER TABLE [dbo].[LopMonHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopMonHoc_GiaoVien] FOREIGN KEY([MSGV])
REFERENCES [dbo].[GiangVien] ([MSGV])
GO
ALTER TABLE [dbo].[LopMonHoc] CHECK CONSTRAINT [FK_LopMonHoc_GiaoVien]
GO
ALTER TABLE [dbo].[LopMonHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopMonHoc_HocKy] FOREIGN KEY([Ma_Hoc_Ky])
REFERENCES [dbo].[HocKy] ([Ma_Hoc_Ky])
GO
ALTER TABLE [dbo].[LopMonHoc] CHECK CONSTRAINT [FK_LopMonHoc_HocKy]
GO
ALTER TABLE [dbo].[LopMonHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopMonHoc_Khoa] FOREIGN KEY([Ma_Khoa])
REFERENCES [dbo].[Khoa] ([Ma_Khoa])
GO
ALTER TABLE [dbo].[LopMonHoc] CHECK CONSTRAINT [FK_LopMonHoc_Khoa]
GO
ALTER TABLE [dbo].[LopMonHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopMonHoc_MonHoc] FOREIGN KEY([Ma_Mon_Hoc])
REFERENCES [dbo].[MonHoc] ([Ma_Mon_Hoc])
GO
ALTER TABLE [dbo].[LopMonHoc] CHECK CONSTRAINT [FK_LopMonHoc_MonHoc]
GO
ALTER TABLE [dbo].[MonMoDangKy]  WITH CHECK ADD FOREIGN KEY([Ma_Hoc_Ky])
REFERENCES [dbo].[HocKy] ([Ma_Hoc_Ky])
GO
ALTER TABLE [dbo].[MonMoDangKy]  WITH CHECK ADD FOREIGN KEY([Ma_Lop_Mon_Hoc])
REFERENCES [dbo].[LopMonHoc] ([Ma_Lop_Mon_Hoc])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY([Ma_Lop])
REFERENCES [dbo].[Lop] ([Ma_Lop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Lop]
GO
ALTER TABLE [dbo].[ThoiKhoaBieu]  WITH CHECK ADD  CONSTRAINT [FK_ThoiKhoaBieu_LopMonHoc] FOREIGN KEY([Ma_Lop_Mon_Hoc])
REFERENCES [dbo].[LopMonHoc] ([Ma_Lop_Mon_Hoc])
GO
ALTER TABLE [dbo].[ThoiKhoaBieu] CHECK CONSTRAINT [FK_ThoiKhoaBieu_LopMonHoc]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_Lan_Thi] CHECK  (([Lan_Thi]>(0)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_Lan_Thi]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_Qua_Trinh] CHECK  (([Diem_Qua_Trinh]>=(0) AND [Diem_Qua_Trinh]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_Qua_Trinh]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_Tong_Ket] CHECK  (([Diem_Tong_Ket]>=(0) AND [Diem_Tong_Ket]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_Tong_Ket]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem_Thi] CHECK  (([Diem_Thi]>=(0) AND [Diem_Thi]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem_Thi]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [CK_GiaoVien_Gioi_Tinh] CHECK  (([Gioi_Tinh]=N'Nam' OR [Gioi_Tinh]=N'Nữ'))
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [CK_GiaoVien_Gioi_Tinh]
GO
ALTER TABLE [dbo].[HocKy]  WITH CHECK ADD  CONSTRAINT [CK_HocKy_Ngay] CHECK  (([Ngay_KT]>[Ngay_BD]))
GO
ALTER TABLE [dbo].[HocKy] CHECK CONSTRAINT [CK_HocKy_Ngay]
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD  CONSTRAINT [CK_LichThi_Gio] CHECK  (([Gio_Bat_Dau]<[Gio_Ket_Thuc]))
GO
ALTER TABLE [dbo].[LichThi] CHECK CONSTRAINT [CK_LichThi_Gio]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [CK_MonHoc_So_Tin_Chi] CHECK  (([So_Tin_Chi]>(0)))
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [CK_MonHoc_So_Tin_Chi]
GO
ALTER TABLE [dbo].[MonMoDangKy]  WITH CHECK ADD  CONSTRAINT [CK_LopMo_SoLuong] CHECK  (([So_Luong_Toi_Da]>(0)))
GO
ALTER TABLE [dbo].[MonMoDangKy] CHECK CONSTRAINT [CK_LopMo_SoLuong]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CK_SinhVien_Diem_Ren_Luyen] CHECK  (([Diem_Ren_Luyen]>=(0) AND [Diem_Ren_Luyen]<=(100)))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CK_SinhVien_Diem_Ren_Luyen]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CK_SinhVien_Gioi_Tinh] CHECK  (([Gioi_Tinh]=N'Nam' OR [Gioi_Tinh]=N'Nữ'))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CK_SinhVien_Gioi_Tinh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_Loai_Tai_Khoan] CHECK  (([Loai_Tai_Khoan]=(3) OR [Loai_Tai_Khoan]=(2) OR [Loai_Tai_Khoan]=(1)))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_Loai_Tai_Khoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_Trang_Thai] CHECK  (([Trang_Thai]=(1) OR [Trang_Thai]=(0)))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_Trang_Thai]
GO
ALTER TABLE [dbo].[ThoiKhoaBieu]  WITH CHECK ADD  CONSTRAINT [CK_ThoiKhoaBieu_GioHoc] CHECK  (([Gio_Ket_Thuc]>[Gio_Bat_Dau]))
GO
ALTER TABLE [dbo].[ThoiKhoaBieu] CHECK CONSTRAINT [CK_ThoiKhoaBieu_GioHoc]
GO
/****** Object:  StoredProcedure [dbo].[AddDefaultGrades]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDefaultGrades]
    @MaMonHoc INT
AS
BEGIN
    -- Thêm điểm mặc định (0.0) cho tất cả sinh viên đã đăng ký môn học
    INSERT INTO Diem (MSSV, Ma_Mon_Hoc, Ma_Hoc_Ky, Lan_Thi, Diem_Qua_Trinh, Diem_Thi, Diem_Tong_Ket)
    SELECT 
        DangKy.MSSV, 
        @MaMonHoc, 
        LopMonHoc.Ma_Hoc_Ky,  -- Gán học kỳ từ bảng LopMonHoc
        1,  -- Gán lần thi mặc định là 1 (có thể thay đổi tùy theo nhu cầu)
        ROUND(RAND(CHECKSUM(NEWID())) * 10, 1),  -- Điểm quá trình ngẫu nhiên
        ROUND(RAND(CHECKSUM(NEWID())) * 10, 1),  -- Điểm thi ngẫu nhiên
        ROUND(RAND(CHECKSUM(NEWID())) * 10, 1)   -- Điểm tổng kết ngẫu nhiên
    FROM DangKy
    JOIN LopMonHoc ON DangKy.Ma_Lop_Mon_Hoc = LopMonHoc.Ma_Lop_Mon_Hoc
    WHERE LopMonHoc.Ma_Lop_Mon_Hoc = @MaMonHoc;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddDefaultGradesForAllSubjects]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDefaultGradesForAllSubjects]
AS
BEGIN
    -- Thêm điểm mặc định (0.0) cho tất cả sinh viên đã đăng ký tất cả các môn học
    INSERT INTO Diem (MSSV, Ma_Mon_Hoc, Ma_Hoc_Ky, Lan_Thi, Diem_Qua_Trinh, Diem_Thi, Diem_Tong_Ket)
    SELECT 
        DangKy.MSSV, 
        LopMonHoc.Ma_Mon_Hoc, 
        LopMonHoc.Ma_Hoc_Ky,  -- Gán học kỳ từ bảng LopMonHoc
        1,  -- Gán lần thi mặc định là 1 (có thể thay đổi tùy theo nhu cầu)
        ROUND(RAND(CHECKSUM(NEWID())) * 10, 1),  -- Điểm quá trình ngẫu nhiên
        ROUND(RAND(CHECKSUM(NEWID())) * 10, 1),  -- Điểm thi ngẫu nhiên
        ROUND(RAND(CHECKSUM(NEWID())) * 10, 1)   -- Điểm tổng kết ngẫu nhiên
    FROM DangKy
    JOIN LopMonHoc ON DangKy.Ma_Lop_Mon_Hoc = LopMonHoc.Ma_Lop_Mon_Hoc;
END;
GO
/****** Object:  Trigger [dbo].[trg_AutoInsertDiem]    Script Date: 18/04/2025 8:38:38 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[trg_AutoInsertDiem]
ON [dbo].[DangKy]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Diem (MSSV,Ma_Mon_Hoc, Ma_Hoc_Ky,Lan_Thi,Diem_Qua_Trinh, Diem_Thi, Diem_Tong_Ket)
    SELECT I.MSSV,LopMonHoc.Ma_Mon_Hoc,Ma_Hoc_Ky,1,NULL,NULL,NULL
    FROM inserted i,LopMonHoc
	WHERE i.Ma_Lop_Mon_Hoc=LopMonHoc.Ma_Lop_Mon_Hoc
	;
END;
GO
ALTER TABLE [dbo].[DangKy] ENABLE TRIGGER [trg_AutoInsertDiem]
GO
/****** Object:  Trigger [dbo].[trg_XoaMonDangKy]    Script Date: 18/04/2025 8:38:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_XoaMonDangKy]
ON [dbo].[DangKy]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- Xóa điểm tương ứng trong bảng Diem khi sinh viên hủy đăng ký môn
    DELETE FROM Diem
    WHERE MSSV IN (SELECT MSSV FROM deleted)
      AND Ma_Mon_Hoc IN (
            SELECT LMH.Ma_Mon_Hoc
            FROM deleted d
            JOIN LopMonHoc LMH ON d.Ma_Lop_Mon_Hoc = LMH.Ma_Lop_Mon_Hoc
        );
END;
GO
ALTER TABLE [dbo].[DangKy] ENABLE TRIGGER [trg_XoaMonDangKy]
GO
/****** Object:  Trigger [dbo].[trg_TinhDiemTong]    Script Date: 18/04/2025 8:38:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TinhDiemTong]  ON [dbo].[Diem] 
AFTER INSERT, UPDATE  AS  BEGIN      
UPDATE d      
SET d.Diem_Tong_Ket =   d.Diem_Qua_Trinh * mh.He_So_QT + d.Diem_Thi * (1 - mh.He_So_QT)      
FROM Diem d,MonHoc mh, inserted i     
WHERE i.MSSV = d.MSSV 
and mh.Ma_Mon_Hoc=d.Ma_Mon_Hoc
and i.Ma_Mon_Hoc = mh.Ma_Mon_Hoc
END;
GO
ALTER TABLE [dbo].[Diem] ENABLE TRIGGER [trg_TinhDiemTong]
GO
/****** Object:  Trigger [dbo].[trg_DeleteLecturerAccount]    Script Date: 18/04/2025 8:38:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_DeleteLecturerAccount]
ON [dbo].[GiangVien]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM TaiKhoan
    WHERE Ten_Dang_Nhap IN (SELECT MSGV FROM deleted);
END;
GO
ALTER TABLE [dbo].[GiangVien] ENABLE TRIGGER [trg_DeleteLecturerAccount]
GO
/****** Object:  Trigger [dbo].[trg_InsertLecturerAccount]    Script Date: 18/04/2025 8:38:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_InsertLecturerAccount]
ON [dbo].[GiangVien]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO TaiKhoan (Ten_Dang_Nhap, Mat_Khau, Loai_Tai_Khoan,Trang_Thai)
    SELECT 
        i.MSGV,               -- Tên đăng nhập là MSSV
        'pass123',             -- Mật khẩu mặc định (có thể hash trước)
        2,            -- Loại tài khoản mặc định
		1-- Trạng thái mặc định
    FROM inserted i;
END;
GO
ALTER TABLE [dbo].[GiangVien] ENABLE TRIGGER [trg_InsertLecturerAccount]
GO
/****** Object:  Trigger [dbo].[trg_UpdateGrade]    Script Date: 18/04/2025 8:38:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateGrade]
ON [dbo].[MonHoc]
AFTER UPDATE
AS
BEGIN
    -- Cập nhật lại điểm tổng kết trong bảng Diem khi hệ số QT trong bảng MonHoc thay đổi
    UPDATE d
    SET d.Diem_Tong_Ket = 
        d.Diem_Qua_Trinh * mh.He_So_QT + d.Diem_Thi * (1 - mh.He_So_QT)
    FROM Diem d
    INNER JOIN MonHoc mh ON mh.Ma_Mon_Hoc = d.Ma_Mon_Hoc
    INNER JOIN INSERTED i ON mh.Ma_Mon_Hoc = i.Ma_Mon_Hoc
    WHERE i.Ma_Mon_Hoc = d.Ma_Mon_Hoc
END;
GO
ALTER TABLE [dbo].[MonHoc] ENABLE TRIGGER [trg_UpdateGrade]
GO
/****** Object:  Trigger [dbo].[trg_DeleteStudentAccount]    Script Date: 18/04/2025 8:38:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_DeleteStudentAccount]
ON [dbo].[SinhVien]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM TaiKhoan
    WHERE Ten_Dang_Nhap IN (SELECT MSSV FROM deleted);
END;
GO
ALTER TABLE [dbo].[SinhVien] ENABLE TRIGGER [trg_DeleteStudentAccount]
GO
/****** Object:  Trigger [dbo].[trg_InsertStudentAccount]    Script Date: 18/04/2025 8:38:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_InsertStudentAccount]
ON [dbo].[SinhVien]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO TaiKhoan (Ten_Dang_Nhap, Mat_Khau, Loai_Tai_Khoan,Trang_Thai)
    SELECT 
        i.MSSV,               -- Tên đăng nhập là MSSV
        'pass123',             -- Mật khẩu mặc định (có thể hash trước)
        1,            -- Loại tài khoản mặc định
		1
    FROM inserted i;
END;
GO
ALTER TABLE [dbo].[SinhVien] ENABLE TRIGGER [trg_InsertStudentAccount]
GO
/****** Object:  Trigger [dbo].[trg_CheckScheduleConflict]    Script Date: 18/04/2025 8:38:39 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CheckScheduleConflict]
ON [dbo].[ThoiKhoaBieu]
AFTER INSERT, UPDATE
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM ThoiKhoaBieu t
        JOIN inserted i ON 
            t.Phong_Hoc = i.Phong_Hoc AND
            t.Ngay_Hoc = i.Ngay_Hoc AND
            (
                -- Giờ học bị giao nhau
                (i.Gio_Bat_Dau BETWEEN t.Gio_Bat_Dau AND t.Gio_Ket_Thuc) OR
                (i.Gio_Ket_Thuc BETWEEN t.Gio_Bat_Dau AND t.Gio_Ket_Thuc) OR
                (t.Gio_Bat_Dau BETWEEN i.Gio_Bat_Dau AND i.Gio_Ket_Thuc)
            ) AND
            (
                -- Giao thời gian diễn ra trong kỳ
                i.Ngay_BD <= t.Ngay_KT AND
                i.Ngay_KT >= t.Ngay_BD
            ) AND
            (
                -- Tránh so sánh chính mình khi UPDATE
                t.Ma_TKB <> i.Ma_TKB
            )
    )
    BEGIN
        RAISERROR(N'Lỗi: Trùng lịch học tại phòng này, vui lòng kiểm tra lại.', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;
GO
ALTER TABLE [dbo].[ThoiKhoaBieu] ENABLE TRIGGER [trg_CheckScheduleConflict]
GO
USE [master]
GO
